//Grid
$grid-stripe-background-color: var(--rz-base-background-color);
$grid-filter-background-color: var(--rz-base-background-color);
$grid-filter-border: none;
$grid-header-cell-border-bottom: var(--rz-border-normal);
$grid-frozen-cell-background-color: var(--rz-base-background-color);
$grid-frozen-cell-border: none;
$grid-filter-buttons-background-color: var(--rz-base-background-color);

//Header
$header-z: 4;

//Icons
$rz-icon-weight: normal;